<page-title-bar i18n-title="@@scientific_directions"
                title="სამეცნიერო მიმართულებები">
</page-title-bar>

<layout-container>
  <spinner *ngIf="spinner"></spinner>

  <ngx-slick-carousel #slickModal="slick-carousel"
                      [config]="slideConfig"
                      class="carousel"
                      *ngIf="!spinner">
    <div *ngFor="let slide of slides"
         class="slide"
         ngxSlickItem>
      <h2 class="mtavruli">
        {{ slide['title'] }}
      </h2>
      <p [innerHTML]="slide.content"></p>
    </div>
  </ngx-slick-carousel>
</layout-container>
