<page-title-bar
  i18n-title="@@technology_transfer_centers"
  title="ტექნოლოგიის ტრანსფერის ცენტრები"
>
</page-title-bar>
<layout-container>
  <div fxLayout="row" fxLayoutGap="15px" class="margin-top-3">
    <button
      i18n="@@technology_transfer_networks"
      class="list-button"
      onClick="window.open('https://techinformi.ge/ge/?page=content/main/tt_qselebi/tt_qselebi_1','_self')"
      mat-raised-button
      fxFlex
    >
      ტექნოლოგიის ტრანსფერის ქსელები
    </button>
    <button
      i18n="@@technology_transfer_and_innovation_organizations"
      class="list-button"
      onClick="window.open('https://techinformi.ge/ge/?page=content/main/tt_qselebi/tt_qselebi_2','_self')"
      mat-raised-button
      fxFlex
    >
      ტექნოლოგიის ტრანსფერის და ინოვაციების ხელშემწყობი ორგანიზაციები
    </button>
    <button
      i18n="@@partner_organizations"
      class="list-button"
      onClick="window.open('https://techinformi.ge/ge/?page=content/main/tt_qselebi/partner_organizations','_self')"
      mat-raised-button
      fxFlex
    >
      პარტნიორი ორგანიზაციები
    </button>
  </div>
</layout-container>
