<page-title-bar title="საქართველოს სამეცნიერო პუბლიკაციები"
                i18n-title="@@institute_techinformi">
</page-title-bar>

<layout-container [layoutStyle]="'row'" flexWidth="80" ltLg="100">
  <div fxFlex="30">
    <div fxLayoutAlign="center"
         class="overflow-auto">
      <div fxFlex="100">
        <form #myForm="ngForm">
          <div>
            <input-text placeholder="ავტორი"
                        matTooltip="ავტორი"
                        [(inputModel)]="author"
                        name="author">
            </input-text>
          </div>
          <div>
            <input-text placeholder="სტატიის დასახელება"
                        matTooltip="სტატიის დასახელება"
                        [(inputModel)]="title"
                        name="title">
            </input-text>
          </div>
          <div>
            <input-select
              label="სამეცნიერო მიმართულება (OECD)"
              matTooltip="სამეცნიერო მიმართულება (OECD)"
              [array]="oecdList"
              name="oecd"
              [(inputSelectModel)]="oecd"
            >
            </input-select>
          </div>
          <div>
            <input-select matTooltip="გამოცემის დასახელება"
                          [(inputSelectModel)]="qrjJournal"
                          label="გამოცემის დასახელება"
                          [array]="qrjJournalList"
                          name="qrjJournal">
            </input-select>
          </div>
          <div>
            <button (click)="loadQrjPublications()"
                    fxFlexAlign="center"
                    mat-raised-button
                    class="mtavruli"
                    color="primary">
              ძიება
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div fxFlex="70">
    <div *ngIf="countQrjPublications == 0">
      ჩანაწერები ვერ მოინახა
    </div>

    <div>

      <mat-paginator (page)="loadQrjPublications($event.pageIndex, $event.pageSize)"
                     [pageSizeOptions]="[8, 20, 50, 100]"
                     [length]="countQrjPublications"
                     [pageIndex]="0"
                     [pageSize]="12"
      >
      </mat-paginator>

      <spinner *ngIf="showSpinner"></spinner>

      <div class="list-wrapper">
        <div class="border-radius-2 padding-3 margin-3 mat-elevation-z1 animate-3 box-shadow-h-1 cursor-pointer"
             *ngFor="let item of (qrjPublications$ | async)?.qrjPublications">
          <div class="margin-right-1"
               fxFlex="70">
            <span class="mtavruli">
              სტატიის დასახელება
            </span>
            <p>
              {{ item.translation[0].title }}
            </p>
          </div>
          <div class="margin-right-1"
               fxFlex="20">
            <span class="mtavruli">
              ავტორ(ებ)ი
            </span>
            <p>
              {{ (item?.translation)[0]?.publicationAuthor }}
            </p>
          </div>
          <div fxFlex="10">
            <span class="mtavruli">
              წელი
            </span>
            <p>
              {{ item?.year }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</layout-container>
