<div fxLayoutAlign="center" class="padding-5">
  <div fxLayout="column" fxFlex="80" class="buttons-wrapper">
    <div>
      <button mat-raised-button routerLink="/qrj-publication" fxFlex="50" class="margin-right-2">საქართველოს სამეცნიერო
        პუბლიკაციები
      </button>
      <button mat-raised-button routerLink="/scientists-experts" fxFlex="50" class="margin-left-2">მეცნიერები/ექსპერტები
      </button>
    </div>
    <div>
      <button mat-raised-button routerLink="/research-project" fxFlex="50" class="margin-right-2">სამეცნიერო-კვლევითი
        პროექტები
      </button>
      <button mat-raised-button routerLink="qrj-publications" fxFlex="50" class="margin-left-2">სამეცნიერო
        ორგანიზაციები
      </button>
    </div>
  </div>
</div>
