<div fxLayoutAlign="center"
     class="padding-3">
  <div class="buttons-wrapper"
       fxLayout="column"
       fxFlex="80">
    <div>
      <button i18n="@@georgian_scientific_publications"
              routerLink="./qrj-publications"
              class="margin-right-2"
              mat-raised-button
              fxFlex="50">
        საქართველოს სამეცნიერო პუბლიკაციები
      </button>
      <button i18n="@@scientists_experts"
              routerLink="./experts"
              class="margin-left-2"
              mat-raised-button
              fxFlex="50">
        მეცნიერები/ექსპერტები
      </button>
    </div>
    <div>
      <button i18n="@@research_projects"
              routerLink="./research-project"
              class="margin-right-2"
              mat-raised-button
              fxFlex="50">
        სამეცნიერო-კვლევითი პროექტები
      </button>
      <button i18n="@@research_organizations"
              routerLink="./qrj-publications"
              class="margin-left-2"
              mat-raised-button
              fxFlex="50">
        სამეცნიერო ორგანიზაციები
      </button>
    </div>
  </div>
</div>
