<page-title-bar i18n-title="@@partnership"
                title="თანამშრომლობა">
</page-title-bar>
<layout-container layoutStyle="column">
  <button (click)="openDialog('international_organizations')"
          class="mtavruli margin-y-3 padding-3"
          i18n="@@international_organizations"
          mat-flat-button
          color="primary">
    საერთაშორისო ორგანიზაციები
  </button>
  <button (click)="openDialog('foreign organizations')"
          class="mtavruli margin-y-3 padding-3"
          i18n="@@foreign_organizations"
          mat-flat-button
          color="primary">
    უცხოური ორგანიზაციები
  </button>
  <button (click)="openDialog('local_organizations')"
          class="mtavruli margin-y-3 padding-3"
          i18n="@@local_organizations"
          mat-flat-button
          color="primary">
    ადგილობრივი ორგანიზაციები
  </button>
</layout-container>
