<page-title-bar
  title="სამეცნიერო-კვლევითი პროექტები"
  i18n-title="@@research_projects"
>
</page-title-bar>

<layout-container flexWidth="80" ltLg="100">
  <database-template
    (loadPressed)="loadPressed($event)"
    (searchPressed)="searchPressed()"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [length]="data?.countResearchProjects"
    [skeleton]="skeleton"
  >
    <div filters fxLayout="column">
      <input-text
        i18n-placeholder="@@title"
        placeholder="სათაური"
        [inputAbstractControl]="researchProjectForm.get('eTitle')"
      >
      </input-text>
      <input-text
        i18n-placeholder="@@leader_executors"
        placeholder="ხელმძღვანელი/შემსრულებლები"
        [inputAbstractControl]="researchProjectForm.get('eAuthor')"
      >
      </input-text>
      <input-text
        i18n-placeholder="@@keywords"
        placeholder="საკვანძო სიტყვები"
        [inputAbstractControl]="researchProjectForm.get('eWords')"
      >
      </input-text>
      <input-text
        i18n-placeholder="@@principal_executing_organization"
        placeholder="ძირითადი შემსრულებელი ორგანიზაცია"
        [inputAbstractControl]="researchProjectForm.get('eOrganization')"
      >
      </input-text>
      <oecds-input-display-value-filter-autocomplete
        [inputAbstractControl]="researchProjectForm.get('eCodes')"
      >
      </oecds-input-display-value-filter-autocomplete>

      <!--      <input-select-->
      <!--        matTooltip="წელი (კვლევის მიმდინარეობის, დაწყების ან დასრულების წელი)"-->
      <!--        label="წელი (კვლევის მიმდინარეობის, დაწყების ან დასრულების წელი)"-->
      <!--        i18n-matTooltip="year_research_progress_start_or_end_year"-->
      <!--        i18n-label="@@year_research_progress_start_or_end_year"-->
      <!--        [inputAbstractControl]="-->
      <!--          researchProjectForm.get('year_research_progress_start_or_end_year')-->
      <!--        "-->
      <!--      >-->
      <!--      </input-select>-->

      <div fxLayoutGap="16px">
        <input-select
          i18n-label="@@from_year"
          [inputAbstractControl]="researchProjectForm.get('fromYear')"
          label="დან"
          fxFlex
        >
        </input-select>
        <input-select
          i18n-label="@@to_year"
          [inputAbstractControl]="researchProjectForm.get('toYear')"
          label="მდე"
          fxFlex
        >
        </input-select>
      </div>
    </div>

    <div list>
      <database-template-list-item
        *ngFor="let researchProject of data?.researchProjects"
        [routerLink]="transformUrl(researchProject)"
      >
        <div header fxLayoutGap="8px">
          <div fxFlex class="padding-left-2" fxFlexAlign="center">
            <h4 i18n="@@title" class="mtavruli">
              სათაური
            </h4>
          </div>
          <div fxFlex fxFlexAlign="center">
            <h4 i18n="@@leader_executors" class="mtavruli">
              ხელმძღვანელი/შემსრულებლები
            </h4>
          </div>
          <div fxFlex fxFlexAlign="center">
            <h4 i18n="@@principal_executing_organization" class="mtavruli">
              ძირითადი შემსრულებელი ორგანიზაცია
            </h4>
          </div>
          <div fxFlex="15" class="padding-right-2" fxFlexAlign="center">
            <h4 i18n="@@work_completion_date" class="mtavruli">
              სამუშაოს დასრულების თარიღი
            </h4>
          </div>
        </div>
        <div body fxLayoutGap="8px">
          <p fxFlex class="padding-left-2">
            {{ researchProject.title }}
          </p>
          <p fxFlex>
            {{ researchProject.author }}
            <!--            /-->
            <!--            {{ researchProject.researchExecutors }}-->
          </p>
          <p fxFlex>
            {{ researchProject.organization }}
          </p>
          <p fxFlex="15">
            {{ researchProject.toYear | date }}
          </p>
        </div>
      </database-template-list-item>
    </div>
  </database-template>
</layout-container>
