<div>
  <h2 class="mtavruli"
      i18n="@@news">
    სიახლეები
  </h2>

  <mat-divider></mat-divider>

  <div class="margin-top-3"
       fxLayout="column">
    <div
      class="border-radius-2 bg-white mat-elevation-z1 animate-3 box-shadow-h-1 margin-bottom-3 padding-3 cursor-pointer"
      fxFlex="100">
      <h3 class="mtavruli">
        საფეიქრო მასალების ქიმიური ტექნოლოგიის განმარტებითი ლექსიკონი
      </h3>
      <p class="color-gray">
        ტექინფორმის ფონდში დაცულია „საფეიქრო მასალების ქიმიური ტექნოლოგიის
      </p>
    </div>
    <div class="border-radius-2 bg-white mat-elevation-z1 animate-3 box-shadow-h-1 margin-bottom-3 padding-3"
         fxFlex="100">
      <h3 class="mtavruli">
        საფეიქრო მასალების ქიმიური ტექნოლოგიის განმარტებითი ლექსიკონი
      </h3>
      <p class="color-gray">
        ტექინფორმის ფონდში დაცულია „საფეიქრო მასალების ქიმიური ტექნოლოგიის
      </p>
    </div>
    <div class="border-radius-2 bg-white mat-elevation-z1 animate-3 box-shadow-h-1 margin-bottom-3 padding-3"
         fxFlex="100">
      <h3 class="mtavruli">
        საფეიქრო მასალების ქიმიური ტექნოლოგიის განმარტებითი ლექსიკონი
      </h3>
      <p class="color-gray">
        ტექინფორმის ფონდში დაცულია „საფეიქრო მასალების ქიმიური ტექნოლოგიის
      </p>
    </div>
    <div class="border-radius-2 bg-white mat-elevation-z1 animate-3 box-shadow-h-1 margin-bottom-3 padding-3"
         fxFlex="100">
      <h3 class="mtavruli">
        საფეიქრო მასალების ქიმიური ტექნოლოგიის განმარტებითი ლექსიკონი
      </h3>
      <p class="color-gray">
        ტექინფორმის ფონდში დაცულია „საფეიქრო მასალების ქიმიური ტექნოლოგიის
      </p>
    </div>

  </div>

  <mat-paginator (page)="pageEvent = $event"
                 [pageSize]="10"
                 [length]="100">
  </mat-paginator>
</div>
