button,
a {
  font-size: 18px !important;
  font-family: mtavruli, sans-serif;
}

.vertical-nav-list-wrapper {
  overflow-y: auto;
  height: 470px;

  .mat-stroked-button:not([disabled]) {
    border-color: inherit !important;
  }
}
