<div class="margin-top-5"
     fxLayout="column">
  <a class="white-space-normal margin-bottom-2 bold"
     mat-flat-button
     color="primary"
     href="https://techinformi.ge/kvlevebi/login.php"
     target="_blank"
     fxFlex="100">
    სამეცნიერო-კვლევითი პროექტების Online რეგისტრაცია
  </a>

  <mat-divider></mat-divider>

  <div class="vertical-nav-list-wrapper"
       fxLayout="column">
    <a class="white-space-normal margin-bottom-2 bold"
       i18n="@@cajnn"
       mat-stroked-button
       color="primary"
       href="https://cajnn.techinformi.ge/"
       target="_blank"
       fxFlex="100">
      კავკასიის რეფერატული ჟურნალი ნანომეცნიერებასა და ნანოტექნოლოგიებში
    </a>
    <a class="white-space-normal margin-bottom-2 bold"
       i18n="@@georgian_engineering_news"
       mat-stroked-button
       color="primary"
       href="https://gen.techinformi.ge/"
       target="_blank"
       fxFlex="100">
      საქართველოს საინჟინრო სიახლენი (GEN)
    </a>
    <button i18n="@@classifiers_international_databases_of_scientific_publications"
            class="white-space-normal margin-bottom-2 bold"
            mat-stroked-button
            routerLink="publications-classifiers"
            color="primary"
            fxFlex="100">
      სამეცნიერო პუბლიკაციების საერთაშორისო ბაზების კლასიფიკატორები
    </button>
    <button i18n="@@list_of_scientific_publications_reflected_in_georgian_abstracts_journal"
            class="white-space-normal margin-bottom-2 bold"
            mat-stroked-button
            color="primary"
            fxFlex="100">
      ქართულ რეფერატულ ჟურნალში ასახული სამეცნიერო გამოცემების ჩამონათვალი
    </button>
    <button class="white-space-normal margin-bottom-2 bold"
            i18n="@@technology_transfer_centers"
            mat-stroked-button
            color="primary"
            fxFlex="100">
      ტექნოლოგიის ტრანსფერის ცენტრები
    </button>
    <button class="white-space-normal margin-bottom-2 bold"
            i18n="@@international_scientific_databases"
            mat-stroked-button
            color="primary"
            fxFlex="100">
      საერთაშორისო სამეცნიერო ბაზები
    </button>
    <button class="white-space-normal margin-bottom-2 bold"
            mat-stroked-button
            color="primary"
            fxFlex="100">
      DOI - ციფრული ობიექტის იდენტიფიკატორი
    </button>
    <button class="white-space-normal margin-bottom-2 bold"
            mat-stroked-button
            color="primary"
            fxFlex="100">
      სტუ-ს აკადემიური და სამეცნიერო პერსონალის ციტირების ინდექსი
    </button>
    <button class="white-space-normal bold"
            mat-stroked-button
            color="primary"
            fxFlex="100">
      FAO-ს მრავალენოვანი თეზაურუსი AGROVOC
    </button>
  </div>
  <mat-divider></mat-divider>
</div>
