<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav
               role="navigation"
               mode="push">
    <header-sidenav-list></header-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="mat-elevation-z3 toolbars-wrapper">
      <header-top-toolbar (sidenavToggle)="sidenav.toggle()">
      </header-top-toolbar>

      <header-bottom-toolbar fxHide.lt-lg>
      </header-bottom-toolbar>
    </div>
    <div class="margin-bottom-3 main-outlet-wrapper">
      <router-outlet></router-outlet>
    </div>

    <footer class="margin-top-5"
            fxHide.lt-lg>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
