<mat-form-field fxFlex="100">
                    <textarea (ngModelChange)="inputTextAreaModelChange.emit(inputTextAreaModel)"
                              [(ngModel)]="inputTextAreaModel"
                              [placeholder]="placeholder"
                              [required]="required"
                              [name]="name"
                              #autosize="cdkTextareaAutosize"
                              #input="ngModel"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"
                              cdkTextareaAutosize
                              matInput>
                    </textarea>

  <mat-error *ngIf="!input.valid && input.touched">
    გთხოვთ შეავსოთ ველი
  </mat-error>

</mat-form-field>

