<div fxLayoutAlign="center"
     class="padding-5">
  <div class="buttons-wrapper"
       fxLayout="column"
       fxFlex="80">
    <div>
      <div fxLayoutAlign="center"
           class="overflow-auto">
        <div class="width-max-content">
          <form #myForm="ngForm">
            <input-text placeholder="სახელი, გვარი"
                        class="margin-right-2"
                        name="author"
                        fxFlex="50"
                        [(inputModel)]="fullName"
            ></input-text>
            <input-select label="სამეცნიერო მიმართულება (OECD)"
                          class="margin-x-2"
                          [array]="oecdList"
                          fxFlex="50"
                          name="oecd"
                          [(inputSelectModel)]="oecd"
            >
            </input-select>
            <input-text placeholder="სპეციალიზაცია"
                        class="margin-x-2"
                        name="title"
                        fxFlex="50"
                        [(inputModel)]="specialization"
            ></input-text>
          </form>
        </div>
      </div>
      <div fxLayoutAlign="center"
           fxFlexAlign="middle">
        <button (click)="loadExperts()"
                fxFlexAlign="center"
                mat-raised-button
                class="mtavruli"
                color="primary">
          ძიება
        </button>
      </div>
    </div>

    <div class="list-wrapper">
      <div class="border-radius-2 padding-3 margin-y-3 mat-elevation-z2"
           *ngFor="let item of experts$ | async">
        <div>
          <span class="mtavruli">
            გვარი, სახელი
          </span>
          <p>
            {{ (item?.translation)[0]?.fullName }}
          </p>
        </div>
        <div>
          <span class="mtavruli">
            კვალიფიკაცია
          </span>
          <p>
            {{ (item?.translation)[0]?.qualification }}
          </p>
        </div>
        <div>
          <span class="mtavruli">
            აკადემიური ხარისხი
          </span>
          <p>
            {{ (item?.translation)[0]?.academicDegree }}
          </p>
        </div>
        <div>
          <span class="mtavruli">
            სამეცნიერო მიმართულება (OECD)
          </span>
          <div *ngFor="let oecd of item?.oecds">
            <p>
              {{ oecd.code }} {{ oecd.translation[0].name }}
            </p>
          </div>
        </div>
        <div>
          <span class="mtavruli">
            სპეციალიზაცია
          </span>
          <p>
            {{ (item?.translation)[0]?.specialization }}
          </p>
        </div>
        <div>
          <span class="mtavruli">
            სამუშაო გამოცდილება სპეციალიზაციის სფეროში
          </span>
          <p>
            {{ item?.workExperience }}
          </p>
        </div>
        <div>
          <span class="mtavruli">
            უცხო ენების ცოდნა
          </span>
          <p>
            <span *ngFor="let language of item?.languages">
              {{ language.name }}
            </span>
          </p>
        </div>
        <div>
          <span class="mtavruli">
            სამუშაო ადგილი
          </span>
          <p>
            {{ (item?.translation)[0].workingPlace }}
          </p>
        </div>
        <div>
          <span class="mtavruli">
            თანამდებობა
          </span>
          <p>
            {{ (item?.translation)[0].position }}
          </p>
        </div>
        <div>
          <span class="mtavruli">
            ელ. ფოსტა
          </span>
          <p>
            {{ item?.email }}
          </p>
        </div>
        <div>
          <span class="mtavruli">
            ბოლო პუბლიკაციები
          </span>
          <p [innerHTML]="item?.publications"></p>
        </div>
      </div>
    </div>

    <mat-paginator (page)="loadExperts($event.pageIndex, $event.pageSize)"
                   [pageSizeOptions]="[8, 20, 50, 100]"
                   [length]="countExperts$ | async"
                   [pageIndex]="0"
                   [pageSize]="12">
    </mat-paginator>
  </div>
</div>
