<div fxLayoutAlign="center" class="padding-5">
  <div fxLayout="column" fxFlex="80" class="buttons-wrapper">

    <div>
      <div class="overflow-auto" fxLayoutAlign="center">
        <div class="width-max-content">
          <form #myForm="ngForm">
            <app-input-text
              fxFlex="50"
              class="margin-right-2"
              placeholder="სახელი, გვარი"
              name="author"
              [(inputModel)]="fullName"
            ></app-input-text>
            <app-input-select
              fxFlex="50"
              class="margin-x-2"
              label="სამეცნიერო მიმართულება (OECD)"
              [array]="oecdList"
              name="oecd"
              [(inputSelectModel)]="oecd"
            >
            </app-input-select>
            <app-input-text
              fxFlex="50"
              class="margin-x-2"
              placeholder="სპეციალიზაცია"
              name="title"
              [(inputModel)]="specialization"
            ></app-input-text>
          </form>
        </div>
      </div>
      <div fxFlexAlign="middle" fxLayoutAlign="center">
        <button mat-raised-button color="primary" class="mtavruli" fxFlexAlign="center" (click)="loadExperts()">
          ძიება
        </button>
      </div>
    </div>

    <div class="list-wrapper">
      <div *ngFor="let item of experts$|async"
           class="border-radius-2 padding-3 margin-y-3 mat-elevation-z2">
        <div>
          <span class="mtavruli">გვარი, სახელი</span>
          <p>{{item?.translation[0]?.fullName}}</p>
        </div>
        <div>
          <span class="mtavruli">კვალიფიკაცია</span>
          <p>{{item?.translation[0]?.qualification}}</p>
        </div>
        <div>
          <span class="mtavruli">აკადემიური ხარისხი</span>
          <p>{{item?.translation[0]?.academicDegree}}</p>
        </div>
        <div>
          <span class="mtavruli">სამეცნიერო მიმართულება (OECD)</span>
          <div *ngFor="let oecd of item?.oecds">
            <p>{{oecd.code}} {{oecd.translation[0].name}}</p>
          </div>
        </div>
        <div>
          <span class="mtavruli">სპეციალიზაცია</span>
          <p>{{item?.translation[0]?.specialization}}</p>
        </div>
        <div>
          <span class="mtavruli">სამუშაო გამოცდილება სპეციალიზაციის სფეროში</span>
          <p>{{item?.workExperience}}</p>
        </div>
        <div>
          <span class="mtavruli">უცხო ენების ცოდნა</span>
          <p>
          <span *ngFor="let language of item?.languages">
            {{language.name}}
          </span>
          </p>
        </div>
        <div>
          <span class="mtavruli">სამუშაო ადგილი</span>
          <p>{{item?.translation[0].workingPlace}}</p>
        </div>
        <div>
          <span class="mtavruli">თანამდებობა</span>
          <p>{{item?.translation[0].position}}</p>
        </div>
        <div>
          <span class="mtavruli">ელ. ფოსტა</span>
          <p>{{item?.email}}</p>
        </div>
        <div>
          <span class="mtavruli">ბოლო პუბლიკაციები</span>
          <p [innerHTML]="item?.publications"></p>
        </div>
      </div>
    </div>

    <mat-paginator [length]="countExperts$ | async"
                   [pageIndex]="0"
                   [pageSize]="12"
                   [pageSizeOptions]="[8, 20, 50, 100]"
                   (page)="loadExperts($event.pageIndex,$event.pageSize)"
    >
    </mat-paginator>

  </div>
</div>

