<layout-container [backgroundColor]="'bg-primary'"
                  [ltLg]="100">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="center"
                     id="top-toolbar">
      <div fxFlexAlign="center"
           fxLayoutGap="25px"
           fxFlex="100">
        <header-top-toolbar-logo></header-top-toolbar-logo>
        <header-top-toolbar-search fxLayoutAlign="center"
                                   fxHide.lt-lg
                                   fxFlex="100">
        </header-top-toolbar-search>
        <header-top-toolbar-user-tools fxLayoutAlign="end"
                                       fxFlex.lt-lg="100">
        </header-top-toolbar-user-tools>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row fxLayoutAlign="center"
                     fxHide.gt-md>
      <div fxFlexAlign="center"
           fxFlex="100">
        <div *ngIf="hidden"
             fxFlex="100">
          <div fxLayoutAlign="start"
               fxFlex="50">
            <button aria-label="Expend left navigation bar"
                    (click)="onToggleSidenav()"
                    mat-icon-button>
              <mat-icon>
                menu
              </mat-icon>
            </button>
          </div>
          <div fxLayoutAlign="end"
               fxFlex="50">
            <button (click)="hidden = !hidden"
                    mat-mini-fab
                    color="warn">
              <mat-icon>
                search
              </mat-icon>
            </button>
          </div>
        </div>
        <header-top-toolbar-responsive-search (closeSearch)="hidden = !hidden"
                                              [hidden]="hidden"
                                              fxFlex="100"
        ></header-top-toolbar-responsive-search>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</layout-container>
