<button [matMenuTriggerFor]="languages"
        class="overflow-hidden"
        id="tools-button"
        mat-mini-fab>
  <img src="./assets/images/content/languages/ge.svg"
       *ngIf="languageService.currentLanguage===LANG.KA"
       width="100%"
       alt="">
  <img src="./assets/images/content/languages/us.svg"
       *ngIf="languageService.currentLanguage===LANG.EN"
       width="100%"
       alt="">
</button>
<mat-menu #languages="matMenu">
  <a *ngIf="languageService.currentLanguage===LANG.KA"
     class="mtavruli"
     mat-menu-item
     href="/en">
    English
  </a>
  <a *ngIf="languageService.currentLanguage===LANG.EN"
     class="mtavruli"
     mat-menu-item
     href="/ka">
    ქართული
  </a>
</mat-menu>
