<home-slick-carousel></home-slick-carousel>

<layout-container>
  <div fxLayout.lt-sm="column"
       class="padding-2">
    <home-news fxFlex.lt-sm="100"
               fxFlex="65">
    </home-news>
    <vertical-nav-list fxFlexOffset="5"
                       fxFlex="30">
    </vertical-nav-list>
  </div>
  <mat-divider class="margin-y-3"></mat-divider>

  <div fxLayoutAlign="center">
    <div class="margin-x-2">
      <button class="padding-3 border-radius-100"
              mat-stroked-button>
        <img src="./assets/images/content/partnership/gtu.png"
             width="50px"
             alt=""/>
      </button>
    </div>
    <div class="margin-x-2">
      <button class="padding-3 border-radius-100"
              mat-stroked-button>
        <img src="./assets/images/content/partnership/mes.png"
             width="50px"
             alt=""/>
      </button>
    </div>
    <div class="margin-x-2">
      <button class="padding-3 border-radius-100"
              mat-stroked-button>
        <img src="./assets/images/content/partnership/shotar.jpg"
             width="50px"
             alt=""/>
      </button>
    </div>
  </div>
</layout-container>

