<layout-container backgroundColor="bg-primary" flexWidth="80" [ltLg]="100">
  <mat-toolbar fxLayoutAlign="center" color="primary">
    <div class="height-100" fxLayout="row">
      <header-top-toolbar-logo
        fxFlex
        fxFlexAlign="center"
      ></header-top-toolbar-logo>

      <!--      About Us-->
      <button [matMenuTriggerFor]="about_us" i18n="@@about_us" mat-button>
        ჩვენს შესახებ
      </button>
      <mat-menu class="mat-menu-buttons-wrapper" #about_us="matMenu">
        <button routerLink="/about-us/general" i18n="@@general" mat-menu-item>
          ზოგადი
        </button>
        <button
          routerLink="/about-us/regulation"
          i18n="@@regulation"
          mat-menu-item
        >
          დებულება
        </button>
        <button
          onClick="window.open('https://techinformi.ge/ge/?page=header/about_us/employees_structure','_self')"
          i18n="@@structure"
          mat-menu-item
        >
          სტრუქტურა
        </button>
        <button
          onClick="window.open('https://techinformi.ge/ge/?page=header/about_us/employees','_self')"
          i18n="@@employees"
          mat-menu-item
        >
          თანამშრომლები
        </button>
        <button
          routerLink="/about-us/normative-documentation"
          i18n="@@normative_documentation"
          mat-menu-item
        >
          ნორმატიული დოკუმენტაცია
        </button>
      </mat-menu>

      <!--      Scientific Activity-->
      <button
        [matMenuTriggerFor]="research_activities"
        i18n="@@scientific_activity"
        mat-button
      >
        სამეცნიერო საქმიანობა
      </button>
      <mat-menu class="mat-menu-buttons-wrapper" #research_activities="matMenu">
        <button
          routerLink="/scientific-activity/directions"
          i18n="@@scientific_directions"
          mat-menu-item
        >
          სამეცნიერო მიმართულებები
        </button>
        <button
          routerLink="/scientific-activity/projects"
          hideMissingLanguageElement
          i18n="@@projects"
          mat-menu-item
        >
          პროექტები
        </button>
        <button
          routerLink="/scientific-activity/publications"
          hideMissingLanguageElement
          i18n="@@publications"
          mat-menu-item
        >
          პუბლიკაციები
        </button>
      </mat-menu>

      <!--      Resources-->
      <button [matMenuTriggerFor]="resources" i18n="@@resources" mat-button>
        რესურსები
      </button>
      <mat-menu class="mat-menu-buttons-wrapper" #resources="matMenu">
        <button
          [matMenuTriggerFor]="el_resources"
          i18n="@@electronic_resources"
          mat-menu-item
        >
          ელექტრონული რესურსები
        </button>
        <button
          [matMenuTriggerFor]="printed_resources"
          i18n="@@printed_resources"
          hideNotImplemented
          mat-menu-item
        >
          ბეჭდური რესურსები
        </button>
      </mat-menu>

      <!--      Electronic Resources-->
      <mat-menu class="mat-menu-buttons-wrapper" #el_resources="matMenu">
        <button
          [matMenuTriggerFor]="databases"
          i18n="@@databases"
          mat-menu-item
        >
          მონაცემთა ბაზები
        </button>
        <button
          i18n="@@electronic_collections"
          [matMenuTriggerFor]="el_funds"
          hideNotImplemented
          mat-menu-item
        >
          ელექტრონული ფონდები
        </button>
        <button
          [matMenuTriggerFor]="el_discs"
          hideNotImplemented
          i18n="@@ram_discs"
          mat-menu-item
        >
          ელექტრონული დისკები
        </button>
      </mat-menu>

      <!--      Printed Resources-->
      <mat-menu class="mat-menu-buttons-wrapper" #printed_resources="matMenu">
        <button mat-menu-item>
          საქართველოში დაცული დისერტაციების ავტორეფერატები
        </button>
        <button mat-menu-item>
          FAO-ს სადეპოზიტო ბიბლიოთეკის ფონდი
        </button>
        <button mat-menu-item>
          დეპონირებული შრომების ფონდი
        </button>
        <button mat-menu-item>
          წიგნადი ფონდი
        </button>
      </mat-menu>

      <!--      Databases-->
      <mat-menu class="mat-menu-buttons-wrapper" #databases="matMenu">
        <button
          i18n="@@georgian_scientific_publications"
          routerLink="/databases/qrj-publications"
          mat-menu-item
        >
          საქართველოს სამეცნიერო პუბლიკაციები
        </button>
        <button
          i18n="@@scientists_experts"
          routerLink="/databases/experts"
          mat-menu-item
        >
          მეცნიერები/ექსპერტები
        </button>
        <button
          i18n="@@research_projects"
          onClick="window.open('https://techinformi.ge/ge/?page=footer/databases/scienceProjects','_self')"
          mat-menu-item
        >
          სამეცნიერო-კვლევითი პროექტები
        </button>
        <button
          i18n="@@research_organizations"
          onClick="window.open('https://techinformi.ge/ge/?page=footer/databases/scienceOrganizations','_self')"
          mat-menu-item
        >
          სამეცნიერო ორგანიზაციები
        </button>
        <button
          i18n="
            @@georgian_scientists_publications_in_high_ranking_foreign_journals"
          [matMenuTriggerFor]="
            scientific_publications_high_rating_foreign_journals
          "
          mat-menu-item
        >
          საქართველოს მეცნიერთა პუბლიკაციები მაღალი რეიტინგის უცხოურ ჟურნალებში
        </button>
        <button
          i18n="@@innovations_technologies"
          onClick="window.open('https://techinformi.ge/ge/?page=footer/databases/innovationsTechnology','_self')"
          mat-menu-item
        >
          ინოვაციები და ტექნოლოგიები
        </button>
      </mat-menu>

      <!--      Electronic Funds-->
      <mat-menu class="mat-menu-buttons-wrapper" #el_funds="matMenu">
        <button i18n="@@abstracts_of_theses_defended_in_georgia" mat-menu-item>
          საქართველოში დაცული დისერტაციების ავტორეფერატები (ბიბლიოგრაფია,
          ხელმძღვანელები, ოპონენტები)
        </button>
        <button i18n="@@deposited_works_of_georgian_scientists" mat-menu-item>
          საქართველოს მეცნიერთა დეპონირებული შრომები
        </button>
      </mat-menu>

      <!--      Electronic Discs-->
      <mat-menu class="mat-menu-buttons-wrapper" #el_discs="matMenu">
        <button mat-menu-item>
          Your Georgia
        </button>
        <button i18n="@@research_organizations" mat-menu-item>
          სამეცნიერო ორგანიზაციები
        </button>
        <button mat-menu-item>
          საქმიანი საქართველო
        </button>
      </mat-menu>

      <!--      Georgian Scientists’ Publication in High-Ranking Foreign Journals -->
      <mat-menu
        #scientific_publications_high_rating_foreign_journals="matMenu"
        class="mat-menu-buttons-wrapper"
      >
        <button
          onClick="window.open('https://techinformi.ge/ge/?page=footer/databases/wos_core_collection','_self')"
          mat-menu-item
        >
          Wos Core Collection
        </button>
        <button
          onClick="window.open('https://techinformi.ge/ge/?page=footer/databases/wosf','_self')"
          mat-menu-item
        >
          WOS Full
        </button>
      </mat-menu>

      <!--      Services-->
      <button
        routerLink="/services-page"
        class="nav-main-menu"
        i18n="@@service"
        mat-button
      >
        მომსახურება
      </button>

      <!--      Partnership-->
      <button
        routerLink="/partnership"
        class="nav-main-menu"
        i18n="@@partnership"
        mat-button
      >
        თანამშრომლობა
      </button>

      <!--      Contact-->
      <button
        routerLink="/contact"
        class="nav-main-menu"
        i18n="@@contact"
        mat-button
      >
        კონტაქტი
      </button>

      <header-top-toolbar-user-tools fxFlex fxFlexAlign="center">
      </header-top-toolbar-user-tools>
    </div>
  </mat-toolbar>
</layout-container>
