<database-template-details>
  <div
    *ngIf="researchProject$ | async as researchProject"
    class="mat-elevation-z1 padding-3 border-radius-2 margin-top-4"
  >
    <!--    Title-->
    <div
      class="margin-bottom-3"
      *ngIf="researchProject.title | notEmpty as title"
    >
      <h3 i18n="@@title">სათაური</h3>
      <span>{{ title }}</span>
    </div>

    <!--    Research Category-->
    <div
      class="margin-bottom-3"
      *ngIf="researchProject.kvleva | notEmpty as kvleva"
    >
      <h3 i18n="@@research_category">სამეცნიერო კვლევის კატეგორია</h3>
      <span>{{ kvleva }}</span>
    </div>

    <!--    Scientific Direction Oecd-->
    <div
      class="margin-bottom-3"
      *ngIf="researchProject.kvlev_mimart_kodi | notEmpty as kvlev_mimart_kodi"
    >
      <h3 i18n="@@research_category">სამეცნიერო მიმართულება (OECD)</h3>
      <span>{{ kvlev_mimart_kodi }}</span>
    </div>
    <!--    <div class="margin-bottom-3" *ngIf="researchProject.kvlev_mimart_kodi as oecds">-->
    <!--      <h3 i18n="@@scientific_direction_oecd">სამეცნიერო მიმართულება (OECD)</h3>-->
    <!--      <span *ngFor="let oecd of oecds">-->
    <!--        {{ oecd.code }} {{ oecd.translation[0].name }};-->
    <!--      </span>-->
    <!--    </div>-->

    <!--   Start Of Date-->
    <div
      class="margin-bottom-3"
      *ngIf="
        researchProject.start_samushao_tarigi
          | notEmpty as start_samushao_tarigi
      "
    >
      <h3 i18n="@@start_of_work">სამუშაოს დაწყების თარიღი</h3>
      <span>{{ start_samushao_tarigi | date }}</span>
    </div>

    <!--    Work End Date-->
    <div
      class="margin-bottom-3"
      *ngIf="
        researchProject.end_samushao_tarigi | notEmpty as end_samushao_tarigi
      "
    >
      <h3 i18n="@@end_of_work">სამუშაოს დასრულების თარიღი</h3>
      <span>{{ end_samushao_tarigi | date }}</span>
    </div>

    <!--    Leader-->
    <div
      class="margin-bottom-3"
      *ngIf="researchProject.xel_gvari_saxeli | notEmpty as xel_gvari_saxeli"
    >
      <h3 i18n="@@leader">ხელმძღვანელი</h3>
      <span>{{ xel_gvari_saxeli }}</span>
    </div>

    <!--    Research Executors-->
    <div
      class="margin-bottom-3"
      *ngIf="researchProject.shemsruleblebis | notEmpty as shemsruleblebis"
    >
      <h3 i18n="@@research_executors">კვლევითი სამუშაოს შემსრულებლები</h3>
      <span>{{ shemsruleblebis }}</span>
    </div>

    <!--    Principal Executing Organization-->
    <div
      class="margin-bottom-3"
      *ngIf="researchProject.org_dasaxeleba | notEmpty as org_dasaxeleba"
    >
      <h3 i18n="@@principal_executing_organization">
        ძირითადი შემსრულებელი ორგანიზაცია
      </h3>
      <span>{{ org_dasaxeleba }}</span>
    </div>

    <!--    Research Execution Basis-->
    <div
      class="margin-bottom-3"
      *ngIf="researchProject.tan_dasaxeleba | notEmpty as tan_dasaxeleba"
    >
      <h3 i18n="@@research_execution_basis">სამუშაოს შესრულების საფუძველი</h3>
      <span>{{ tan_dasaxeleba }}</span>
    </div>

    <!--    Keywords-->
    <div class="margin-bottom-3" *ngIf="researchProject.geo_key[0].key as keys">
      <h3 i18n="@@keywords">საკვანძო სიტყვები</h3>
      <span *ngFor="let key of keys">{{ key.name }};</span>
    </div>

    <!--    City-->
    <div
      class="margin-bottom-3"
      *ngIf="researchProject.org_qalaqi | notEmpty as org_qalaqi"
    >
      <h3 i18n="@@city">ქალაქი</h3>
      <span>{{ org_qalaqi }}</span>
    </div>

    <!--    Abstract-->
    <div
      class="margin-bottom-3"
      *ngIf="researchProject.referati | notEmpty as referati"
    >
      <h3 i18n="@@abstract">რეფერატი</h3>
      <span>{{ referati }}</span>
    </div>
  </div>
</database-template-details>
