<ngx-slick-carousel
  class="carousel bg-white"
  #slickModal="slick-carousel"
  [config]="slideConfig"
>
  <spinner *ngIf="showSpinner"></spinner>

  <mat-card
    *ngFor="let slide of slides"
    class="margin-3 padding-3"
    fxLayout="row"
    fxLayoutGap="16px"
    ngxSlickItem
  >
    <img
      class="border-radius-1"
      fxFlex="30"
      fxFlexAlign="center"
      fxHide.lt-sm
      [src]="slide.imgUrl"
      width="100%"
      alt=""
    />
    <div fxFlex fxFlexAlign="center">
      <h2 class="margin-0 margin-bottom-2">
        <button
          [routerLink]="slide.url"
          class="mtavruli"
          color="primary"
          tabindex="0"
          mat-button
        >
          {{ slide.translatedData?.title }}
        </button>
      </h2>
      <p [innerHTML]="slide.translatedData?.text | sanitizeHtml"></p>
    </div>
  </mat-card>
</ngx-slick-carousel>
<mat-divider></mat-divider>
