h2 {
  text-align: center;
  button {
    font-size: 22px !important;
    white-space: normal;
  }
}

.slick-slide {
  cursor: pointer;
  outline: none;
  transition: 0.5s all ease-in-out;
  opacity: 0.1;
}

.slick-center {
  opacity: 1;
}
