<div fxLayoutAlign="center"
     class="padding-3">
  <div class="buttons-wrapper"
       fxLayout="column"
       fxFlex="80">
    <div>
      <div fxLayoutAlign="center"
           class="overflow-auto">
        <div class="width-max-content">
          <form #myForm="ngForm">
            <input-text placeholder="სათაური"
                        [(inputModel)]="title"
                        class="margin-right-2"
                        name="title"
                        fxFlex="50">
            </input-text>
            <input-text placeholder="ხელმძღვანელი/შემსრულებლები"
                        [(inputModel)]="researchExecutors"
                        class="margin-right-2"
                        name="researchExecutors"
                        fxFlex="50">
            </input-text>
            <input-text placeholder="საკვანძო სიტყვები"
                        [(inputModel)]="keyword"
                        class="margin-right-2"
                        name="keyword"
                        fxFlex="50">
            </input-text>
            <input-text placeholder="ძირითადი შემსრულებელი ორგანიზაცია"
                        [(inputModel)]="organizationName"
                        class="margin-right-2"
                        name="organizationName"
                        fxFlex="50">
            </input-text>
            <input-select label="სამეცნიერო მიმართულება (OECD)"
                          [(inputSelectModel)]="oecd"
                          class="margin-x-2"
                          [array]="oecdList"
                          name="oecd"
                          fxFlex="50">
            </input-select>
          </form>
        </div>
      </div>
      <div fxLayoutAlign="center"
           fxFlexAlign="middle">
        <button (click)="loadResearchProjects()"
                fxFlexAlign="center"
                mat-raised-button
                class="mtavruli"
                color="primary">
          ძიება
        </button>
      </div>
    </div>

    <div class="list-wrapper">
      <div class="border-radius-2 padding-3 margin-y-3 mat-elevation-z2"
           *ngFor="let item of researchProjects$ | async">
        <div *ngIf="(item?.translation)[0]?.title">
          <span class="mtavruli">
            სათაური
          </span>
          <p>
            {{ (item?.translation)[0]?.title }}
          </p>
        </div>
        <div *ngIf="item?.researchDirection">
          <span class="mtavruli">
            სამეცნიერო კვლევის კატეგორია
          </span>
          <p>
            {{ item?.researchDirection }}
          </p>
        </div>
        <div *ngIf="item?.oecds">
          <span class="mtavruli">
            სამეცნიერო მიმართულება (OECD)
          </span>
          <p *ngFor="let oecd of item?.oecds">
            {{ oecd?.code }} {{ (oecd?.translation)[0].name }}
          </p>
        </div>
        <div *ngIf="item?.startDate">
          <span class="mtavruli">
            სამუშაოს დაწყების თარიღი
          </span>
          <p>
            {{ item?.startDate }}
          </p>
        </div>
        <div *ngIf="item?.endDate">
          <span class="mtavruli">
            სამუშაოს დასრულების თარიღი
          </span>
          <p>
            {{ item?.endDate }}
          </p>
        </div>
        <div *ngIf="item?.leaderName">
          <span class="mtavruli">
            ხელმძღვანელი
          </span>
          <p>
            {{ item?.leaderName }}
          </p>
        </div>
        <div *ngIf="item?.researchExecutors">
          <span class="mtavruli">
            კვლევითი სამუშაოს შემსრულებლები
          </span>
          <p>
            {{ item?.researchExecutors }}
          </p>
        </div>
        <div *ngIf="item?.organizationName">
          <span class="mtavruli">
            ძირითადი შემსრულებელი ორგანიზაცია
          </span>
          <p>
            {{ item?.organizationName }}
          </p>
        </div>
        <div *ngIf="item?.researchExecutionBasis">
          <span class="mtavruli">
            სამუშაოს შესრულების საფუძველი
          </span>
          <p>
            {{ item?.researchExecutionBasis }}
          </p>
        </div>
        <div *ngIf="(item?.translation)[0]?.key">
          <span class="mtavruli">
            საკვანძო სიტყვები
          </span>
          <p>
            <span *ngFor="let key of (item?.translation)[0]?.key">
              {{key?.name}}
            </span>
          </p>
        </div>
        <div *ngIf="item?.organizationCity">
          <span class="mtavruli">
            ქალაქი
          </span>
          <p>
            {{ item?.organizationCity }}
          </p>
        </div>
        <div *ngIf="item?.abstract">
          <span class="mtavruli">
            რეფერატი
          </span>
          <p>
            {{ item?.abstract }}
          </p>
        </div>
      </div>
    </div>

    <mat-paginator (page)="loadResearchProjects($event.pageIndex, $event.pageSize)"
                   [length]="countResearchProjects$ | async"
                   [pageSizeOptions]="[8, 20, 50, 100]"
                   [pageIndex]="0"
                   [pageSize]="12">
    </mat-paginator>
  </div>
</div>
