<page-title-bar i18n-title="@@classifiers_international_databases_of_scientific_publications"
                title="სამეცნიერო პუბლიკაციების საერთაშორისო ბაზების კლასიფიკატორები"
                description="სამეცნიერო პუბლიკაციების საერთაშორისო ბაზების კლასიფიკატორები მომზადებულია ტექინფორმის მიერ საქართველოს ტექნიკური უნივერსიტეტის ახალგაზრდა მეცნიერთა და სტუდენტთა ინოვაციურ საქმიანობათა ხელშემწყობი სამსახურის „ერთად“ მხარდაჭერით. ნაშრომის მიზანია დაეხმაროს სამეცნიერო ჟურნალების რედაქციებს/გამომცემლებს სტატიათა სისტემატიზაციისათვის შეარჩიონ მათთვის მისაღები კლასიფიკატორი, რაც ხელს შეუწყობს საქართველოს სამეცნიერო პუბლიკაციების საერთაშორისო სივრცეში ჩართვას და საერთაშორისო სტანდარტების დანერგვას ამ სფეროში. კლასიფიკატორებში წარმოდგენილი ქართული ტერმინები შეთანხმებულია ენათმეცნიერების ინსტიტუტის ტერმინოლოგიის განყოფილების მეცნიერებთან. ჩვენ მადლიერებით მივიღებთ ყველა საქმიან შენიშვნას თუ წინადადებას ქართულენოვან ტერმინებთან დაკავშირებით. ჩვენთვის ძალიან მნიშვნელოვანია დარგის სპეციალისტთა მოსაზრებები.">
</page-title-bar>
<layout-container>
  <div>

  </div>
</layout-container>
