<page-title-bar
  i18n-title="@@classifiers_international_databases_of_scientific_publications"
  title="სამეცნიერო პუბლიკაციების საერთაშორისო ბაზების კლასიფიკატორები"
  description="სამეცნიერო პუბლიკაციების საერთაშორისო ბაზების კლასიფიკატორები მომზადებულია ტექინფორმის მიერ საქართველოს ტექნიკური უნივერსიტეტის ახალგაზრდა მეცნიერთა და სტუდენტთა ინოვაციურ საქმიანობათა ხელშემწყობი სამსახურის „ერთად“ მხარდაჭერით. ნაშრომის მიზანია დაეხმაროს სამეცნიერო ჟურნალების რედაქციებს/გამომცემლებს სტატიათა სისტემატიზაციისათვის შეარჩიონ მათთვის მისაღები კლასიფიკატორი, რაც ხელს შეუწყობს საქართველოს სამეცნიერო პუბლიკაციების საერთაშორისო სივრცეში ჩართვას და საერთაშორისო სტანდარტების დანერგვას ამ სფეროში. კლასიფიკატორებში წარმოდგენილი ქართული ტერმინები შეთანხმებულია ენათმეცნიერების ინსტიტუტის ტერმინოლოგიის განყოფილების მეცნიერებთან. ჩვენ მადლიერებით მივიღებთ ყველა საქმიან შენიშვნას თუ წინადადებას ქართულენოვან ტერმინებთან დაკავშირებით. ჩვენთვის ძალიან მნიშვნელოვანია დარგის სპეციალისტთა მოსაზრებები."
>
</page-title-bar>
<layout-container layoutGap="15px">
  <div fxLayout="row" fxLayoutGap="15px" class="margin-top-3">
    <button
      class="list-button"
      onClick="window.open('https://techinformi.ge/new/klasifikators/Web_of_Science.pdf')"
      mat-raised-button
      fxFlex
    >
      Web Of Science (WOS)
    </button>
    <button
      class="list-button"
      onClick="window.open('https://techinformi.ge/new/klasifikators/SCOPUS.pdf')"
      mat-raised-button
      fxFlex
    >
      SCOPUS
    </button>
  </div>
  <div fxLayout="row" fxLayoutGap="15px" class="margin-top-3">
    <button
      class="list-button"
      onClick="window.open('https://techinformi.ge/new/klasifikators/Essential_Science_Indicator.pdf')"
      mat-raised-button
      fxFlex
    >
      Essential Science Indicators
    </button>
    <button
      class="list-button"
      onClick="window.open('https://techinformi.ge/new/klasifikators/OECD.pdf')"
      mat-raised-button
      fxFlex
    >
      OECD
    </button>
  </div>
</layout-container>
